.wave {
    animation-name: wave-animation;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    transform-origin: 75% 75%;
    display: inline-block;
}
@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
    10% { transform: rotate(15.0deg) }
    20% { transform: rotate(-10.0deg) }
    30% { transform: rotate(15.0deg) }
    40% { transform: rotate(-5.0deg) }
    50% { transform: rotate(10.0deg) }
    60% { transform: rotate( 0.0deg) }
    100% { transform: rotate( 0.0deg) }
}
body { font-size: 3em }
h1 { font-size: 0.5em }