.sidebar {
    transition: width 0.5s ease-in-out, opacity 0.5s ease-in-out;
    overflow: hidden;
}

.sidebar-collapsed {
    width: 0;
    opacity: 0;
    visibility: hidden;
    transition: width 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.sidebar-expanded {
    width: 100px;
    opacity: 1;
    visibility: visible;
    transition: width 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.appbar-icon {
    position: absolute;
    top: 4px;
    transition: left 0.5s ease-in-out;
}

.sidebar-expanded .appbar-icon {
    left: 1px;
}

.selected-icon {
    background-color: #007bff;
    border-radius: 50%;
    transition: background-color 0.3s ease-in-out;
}


.custom-bar-button:hover {
    background-color: #ddd; /* Change background color on hover for Custom Bar button */
}